.logo {
    width: 25%;
    font-size: 2em;
    margin-left: 30px;
    font-family: 'Langar', cursive;
  }
  
  .nav-theme {
    background-color: #101018f8;
    font-size: 20px;
  }
  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }